body {
  font-family: sans-serif;
  margin: 50px;
  margin-right: 100px;
  padding-top: 50px;
}

.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.small-header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

h2 {
  padding-bottom: 10px;
  padding-top: 50px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 15px;
}

p {
  padding: 5px;
}

nav {
  padding: 10px;
}

.image-adjust {
  max-width: 30%;
  margin: 40px;
}

.section2 {
  padding-top: 50px;
}
