body {
  font-family: sans-serif;
  padding: 50px;
}

header,
h4 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

h2 {
  padding-bottom: 10px;
}

div {
  padding-bottom: 20px;
}
